# test pgns
*.pgn

# debug
dbg*

# VM
env/

# engine weights and configuration
*.pb
*.config

# mac files
.DS_Store

# nnue files
nnue/fen
nnue/nets
nnue/pgn
nnue/plain
nnue/train
nnue/val
nnue/evalsave